*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    font-size: 14px;
}
body{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 3rem auto;
    background-repeat: no-repeat;
    background-size: 100vh cover;
    background-image: url("../images/landscape-city.png");
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: min(430px, 90%);
    border: #00000029 1px solid;
    gap: 1.3rem;
    backdrop-filter: blur(5px);
    background-color: #0000004d;
    border-radius: 15px;
}

#title{
    color: #fff;
    text-align: center;
    
    h1{
        font-size: 2.5rem;
    }
    h3{
        color: #d1d1d1;
        font-size: 1.35rem;
        font-weight: 800;
        margin-top: .5rem;
    }
}